<section>
  <h2>Hero section</h2>
  <button type="button" class="hero-btn button" data-modal-open>
    Open Old Modal
  </button>
  <div class="backdrop is-hidden" data-modal>
    <div class="hero-modal">
      <button type="button" class="modal-close-btn" data-modal-close>
        <svg class="modal-close-btn-icon" width="8" height="8">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>

      <p class="modal-form-title">You opened old modal 😺</p>
    </div>
  </div>
</section>
